$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.7);

body {
    margin-top: 64px;
}

.container {
    padding: 0;
}

img {
    margin: auto;
    padding: 0;
}

.navbar {
    box-shadow: 2px 2px 10px $primary;
    opacity: 0.9;
    background: #fff;
    height: 60px;

    .nav-item {
        font-size: 1.2rem;
        padding-right: 1rem;

        .nav-link:hover {
            color: $primary;
            text-shadow: 1px 0px 0px $primary;
        }
    }
}

.row {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.card {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    // box-shadow: 8px 8px 6px -6px gray;
    padding-left: 0;
    padding-right: 0;
    // margin-bottom: 1em;
    margin: 0.5em;
}

.fop {
    position: relative;

    .city {
        position: absolute;
        top: 30px;
    }
}

.tel {
    color: black;
    font-size: 1.2rem;
    line-height: normal;
}

.carousel-caption p {
    text-shadow: 1px 1px 2px black, 0 0 25px #ccc, 0 0 5px $primary;
    animation: fadein 3s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -o-animation: fadein 4s;
    /* Opera */
}

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
}

#authors {
    img {
        margin-top: -50px;
    }

    .card:hover {
        background: $primary;
        color: #fff;
    }

    .fab {
        color: #fff;
    }
}

@media (max-width: 992px) {
    #main-nav .container {
        padding: 0;
        margin: 0;
    }

    #logo {
        cursor: pointer;
        img {
            height: 30px;
            margin-left: 5px;
        }

        h2 {
            font-size: 1.5em;
            // padding-top: 5px;
        }
    }

    .fop .city {
        top: 22px;
    }
}

//shrink .nav-item
@media (max-width: 850px) {
    .navbar .nav-item {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    body {
        margin-top: 40px;

        .row > * {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 0.5rem !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    #showcase {
        min-height: 500px;

        h1 {
            font-size: 4rem;
        }
    }

    .mb-resp {
        margin-bottom: 1rem;
    }

    .navbar {
        height: 40px;
        padding: 0;

        #logo {
            img {
                height: 30px;
                margin-left: 5px;
            }

            .city {
                top: 18px;
            }

            i,
            .tel {
                font-size: 0.95rem;
            }
        }
    }

    .navbar-toggler {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        opacity: 0.9;
    }

    #navbarCollapse {
        background: #fff;
        font-size: 1.2rem;
        border-radius: 0 0 0.5rem;
        padding: 1rem;

        a:hover {
            color: $primary;
            font-weight: bold;
        }
    }

    .container {
        padding: 0;
        margin: 0;
        max-width: 768px;
    }
    .card {
        margin: 0;
    }
    .card-body {
        padding: 0;
    }

    #boxes .btn {
        display: block;
    }
}

@media (max-width: 550px) {
}

//Animation
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@-moz-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -o-transform: translatey(-10px);
        transform: translatey(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
}

/** fadeInRight **/

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@-moz-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }

    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
}

// fadein

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
